/* 衬线字体 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* playlist */
@font-face {
  font-family: 'playlist';
  src: url('/fonts/Playlist-Script.ttf');
}
@font-face {
  font-family: 'bigCaslonMedium';
  src: url('/fonts/Big-Caslon-Medium.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  overflow-x: unset !important;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
